@tailwind base;
@tailwind components;
@tailwind utilities;

.turbo-progress-bar {
  height: 4px;
  background-color: #4f46e5;
  /* indigo-600 */
}

/* Global DataTables Styling Overrides */
.dataTables_wrapper .dataTables_length select {
  border-radius: 0.5rem !important;
  border-color: #cbd5e1 !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.75rem !important;
  padding-right: 2.25rem !important;
  /* Space for the dropdown chevron */
  width: auto !important;
  min-width: 4.5rem;
  background-position: right 0.5rem center !important;
  background-size: 1em 1em !important;
}

.dataTables_wrapper .dataTables_filter input {
  border-radius: 0.5rem !important;
  border-color: #cbd5e1 !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.75rem !important;
  margin-left: 0.5rem !important;
}